h1 {
  line-height: 2;
  color: #28527a;
  margin: 100px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 8.625rem;
}
h2{
  color:#28527a;
  font-size: 4.5rem;
  font-family: 'Sacramento', sans-serif;
}
.sub{
  font-weight: normal;
}
table{
  color:#f14668;
}
h3{
  color:#f14668;
}
a {
  color:#11999E;
}
body{
  font-family: 'Special Elite', cursive;
  background-color: #bce6eb;
  text-align: center;
  margin: auto 100px auto 100px;
}
.circle{
height: 30rem;
width: 30rem;
}
.skill-row{
  text-align: left;
  line-height: 2;
  width: 50%;
  margin: 100px auto 100px auto;
}
.computer{
  float: left;
  width: 25%;
}
.thinker{
  float: right;
  width: 25%;
}
.badminton{
  float: left;
  width: 25%;
}
.thetopcontainer{
  top:0;
  padding: 20px;
  position:absolute;
  right:300px;
}
.bottom-cloud{
  position: absolute;
  padding-top: 20px;
}
.top-clouddiv{
  position: relative;
  left: 250px;
}
.love4{
  height: 800px;
  width: 850px;
  margin-bottom: 100px;
}
.s1{
  position: absolute;
  left: 750px;
  top: 500px;
  height: 25px;
  width: 25px;
}

.s2{
  position: absolute;
  left: 850px;
  top: 600px;
  height: 25px;
  width: 25px;
}
.s3{
  position: absolute;
  left: 450px;
  top: 200px;
  height: 25px;
  width: 25px;
}
.s4{
  position: absolute;
  left: 550px;
  top: 300px;
  height: 25px;
  width: 25px;
}
.s5{
  position: absolute;
  left: 950px;
  top: 700px;
  height: 25px;
  width: 25px;
}
.s6{
  position: absolute;
  left: 450px;
  top: 200px;
  height: 25px;
  width: 25px;
}
.s7{
  position: absolute;
  left: 750px;
  top: 300px;
  height: 25px;
  width: 25px;
}
.s8{
  position: absolute;
  left: 250px;
  top: 200px;
  height: 25px;
  width: 25px;
}
